<nz-pagination [(nzPageIndex)]="page" nzSimple [nzDisabled]="isLoading" [nzTotal]="10000" (nzPageIndexChange)="onPageChange()"></nz-pagination>

<nz-list *ngIf="items$ | async as items; else Skeleton" [nzDataSource]="items" nzBordered nzSize="large"
  [nzRenderItem]="Item">
  <ng-template #Item let-item>
    <nz-list-item >
      <nz-list-item-meta [nzTitle]="Title" [nzDescription]="Description">
        <ng-template #Title>
          <a [routerLink]="['/lkcomic', item.id]">{{ item.title }}</a>
        </ng-template>
        <ng-template #Description>
          <div>{{ item.datePost | date: "yyyy/MM/dd HH:mm" }}</div>
        </ng-template>
      </nz-list-item-meta>



    </nz-list-item>

  </ng-template>
</nz-list>
<ng-template #Skeleton>
  <nz-skeleton [nzLoading]="isLoading" nzActive [nzParagraph]="{ rows: 10 }">
    <nz-empty></nz-empty>
  </nz-skeleton>
</ng-template>


<nz-pagination [(nzPageIndex)]="page" nzSimple [nzDisabled]="isLoading" [nzTotal]="10000" (nzPageIndexChange)="onPageChange()"></nz-pagination>
