<nz-pagination [(nzPageIndex)]="page" [nzDisabled]="isLoading" [nzTotal]="10000" (nzPageIndexChange)="onPageChange()"></nz-pagination>

<nz-list *ngIf="items$ | async as items; else Skeleton" [nzDataSource]="items" nzBordered nzSize="large"
  [nzRenderItem]="Item">
  <ng-template #Item let-item>
    <nz-list-item>
      <a [routerLink]="['/lkcomic', item.id]">{{ item.title }}</a>
    </nz-list-item>
  </ng-template>
</nz-list>
<ng-template #Skeleton>
  <nz-skeleton nzActive [nzParagraph]="{ rows: 10 }"></nz-skeleton>
</ng-template>


<nz-pagination [(nzPageIndex)]="page" [nzDisabled]="isLoading" [nzTotal]="10000" (nzPageIndexChange)="onPageChange()"></nz-pagination>
