nz-header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 64px;
  // z-index: 1;
  padding: 0 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0, .3);

  h1 {
    margin: 0;
    font-size: 24px;
  }
}

nz-sider {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff;
    padding: 15px;
  }
}

.main-container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.ant-layout-content {
  padding: 15px;
}
