<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzBreakpoint="lg" [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger">
    <div class="logo">
      <i nz-icon nzType="meh" nzTheme="fill"></i>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <a routerLink="/lkcomic"><i nz-icon type="user"></i><span class="nav-text">LK</span></a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="main-container">
    <nz-header>
      <h1>{{ title }}</h1>
    </nz-header>
    <nz-content>
      <nz-page-header (nzBack)="onBack()" [nzBackIcon]="backIcon" [nzTitle]="pageTitle" [nzSubtitle]="pageSubTitle">
        <nz-page-header-content>
          <router-outlet></router-outlet>
        </nz-page-header-content>
      </nz-page-header>
    </nz-content>
    <nz-footer style="text-align: center;">What is it ©2019 Implement By clipwww</nz-footer>
  </nz-layout>
  <ng-template #zeroTrigger>
    <i nz-icon type="menu-fold" theme="outline"></i>
  </ng-template>

</nz-layout>
